<!-- <p>teacher works! {{ teacherIdFromRoute }}</p> -->
<div class="container">
  <div class="card a">
    <span></span>

    <div *ngIf="teacherIdFromRoute === 1">
      <div class="content">
        <h2>Simone Sorte (Digital Flow)</h2>
        <h4>Digital Marketing</h4>
        <p>
          Digital flow è una giovane web agency che ha come missione quella di
          abilitare persone e aziende italiane all'utilizzo consapevole e
          produttivo del digitale, con il fine ultimo di aumentare la
          competitività del tessuto imprenditoriale italiano e favorire
          l'occupazione giovanile.
        </p>
        <p>
          Perseguiamo il nostro scopo tramite servizi di formazione e
          consulenza, che offriamo a studenti, professionisti e aziende.
        </p>
      </div>
    </div>

    <div *ngIf="teacherIdFromRoute === 2">
      <div class="content">
        <h2>Marinela Marku</h2>
        <h4>Social Media Manager</h4>
        <p>
          Sono Marinela Marku, sto costruendo la mia agenzia di comunicazione in
          cui ci occupiamo di tutto quello che riguarda il mondo dei social,
          dalla creazione di siti web alla gestione della presenza online
          dell’azienda su tantissime piattaforme quali Instagram, Tiktok,
          Facebook etc.
        </p>
        <p>
          Io lavoro in questo mondo da cinque anni e sono sono qua per offrirti
          la possibilità di portare il tuo brand al successo.
        </p>
      </div>
    </div>

    <div *ngIf="teacherIdFromRoute === 3">
      <div class="content">
        <h2>Alessandro Martelli</h2>
        <h4>Marketing</h4>
        <p>
          Ciao sono Alessandro e sono il fondatore Market-ez una community
          composta da oltre 30 mila persone dove tutti i giorni parliamo di
          marketing e advertising.
        </p>
        <p>
          Se vuoi iniziare un progetto digitale o sei uno/a studente/essa che
          vuole lavorare nel mondo del digital, puoi prenotare una videocall con
          me per confrontarti e trovare nuovi spunti.
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="card b">
      <span></span>
      <div class="content">
        <h2>Card One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquid harum molestiae inventore id quaerat earum error quidem voluptates velit!</p>
        <a href="#">Read More</a>
      </div>
    </div>
  
    <div class="card c">
      <span></span>
      <div class="content">
        <h2>Card One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquid harum molestiae inventore id quaerat earum error quidem voluptates velit!</p>
        <a href="#">Read More</a>
      </div>
    </div> -->
</div>
