.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.linkButton {
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  color: #909497;
  text-decoration: none;
  margin: auto;
}

.linkButton:hover {
  font-size: medium;
  transform-origin: top;
  transition: 0.5s;
  color: #909497;
}

.subscribeButton {
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  color: #69F0AE;
  text-decoration: none;
  margin: auto;
}

.subscribeButton:hover {
  font-size: medium;
  transform-origin: top;
  transition: 0.5s;
  color: #69F0AE;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.copyright {
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  color: #909497;
}

.copyright-mobile {
  margin-top: 5%;
  padding: 5%;
  float: inline-start;
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  color: #909497;
}

p {
  text-align: center;
}