<div style="padding: 3%" *ngIf="!loading && !isMobile">
  <mat-divider></mat-divider>
  <mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <div *ngIf="tile.id === 2">
        <form class="example-form">
          <mat-form-field color="accent">
            <mat-label>Get the latest updates</mat-label>
            <input placeholder="Your e-mail" matInput value="" />
          </mat-form-field>
          <button class="subscribeButton" mat-button>SUBSCRIBE</button>
        </form>
      </div>

      <a
        class="linkButton"
        *ngIf="tile.id == 3"
        href="https://www.iubenda.com/privacy-policy/93551682/cookie-policy"
        target="_blank"
        >COOKIE POLICY</a
      >
      <a
        class="linkButton"
        *ngIf="tile.id == 3"
        href="https://www.iubenda.com/privacy-policy/93551682"
        target="_blank"
        >PRIVACY POLICY</a
      >
      <div *ngIf="tile.id === 4">
        <div>
          <p>
            <a href="https://www.facebook.com/Virtoote-101245872152686">
              <mat-icon svgIcon="facebook"></mat-icon>
            </a>
            <a href="https://www.instagram.com/virtoote/">
              <mat-icon svgIcon="instagram"></mat-icon>
            </a>
          </p>
          <p class="copyright">© Virtoote, Inc. All rights reserved.</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="copyright-mobile" *ngIf="!loading && isMobile">
  <div>
    <p>
      <a href="https://www.facebook.com/Virtoote-101245872152686">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a href="https://www.instagram.com/virtoote/">
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>
    </p>
    <p class="copyright">© Virtoote, Inc. All rights reserved.</p>

    <p>
      <mat-form-field color="accent">
        <mat-label>Get the latest updates</mat-label>
        <input placeholder="Your e-mail" matInput value="" />
      </mat-form-field>
      <button class="subscribeButton" mat-button>SUBSCRIBE</button>
    </p>
    
  </div>
</div>
