<div style="padding: 5%" *ngIf="!loading && isMobile">
    <div class="searchBox">
      <input class="searchInput" type="text" name="" placeholder="Search" />
      <button class="searchButton" href="#">
        <i class="material-icons"> search </i>
      </button>
    </div>
  </div>
  
  <div style="padding: 3%" *ngIf="!loading && !isMobile">
    <div class="searchBox">
      <input class="searchInput" type="text" name="" placeholder="Search" />
      <button class="searchButton" href="#">
        <i class="material-icons"> search </i>
      </button>
    </div>
  </div>