<mat-toolbar color="accent">
  <span><img src="../../../assets/logo.webp" /></span>
  <div
    *ngIf="!isMobile"
    style="margin-left: 20px; margin-right: 20px"
    class="search-box"
  >
    <input
      class="search-box__input"
      type="text"
      oninput="this.setAttribute('value',this.value)"
    />
    <i></i>
  </div>

  <span class="example-spacer"></span>
  <mat-divider></mat-divider>
  <section *ngIf="!isMobile">
    <button class="cybr-btn">
      SEI UN INFLUENCER<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">SEI UN INFLUENCER</span>
      <span aria-hidden class="cybr-btn__tag">SUBSCRIBE</span>
    </button>
    <button style="margin-left: 20px; margin-right: 20px" class="cybr-btn">
      ENTRA IN VIRTOOTE<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">ENTRA IN VIRTOOTE</span>
      <span aria-hidden class="cybr-btn__tag">REGISTER</span>
    </button>
  </section>
  <div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="#">
        <mat-icon>workspaces</mat-icon>
        <span>HOW IT WORKS</span>
      </a>
      <a mat-menu-item href="#">
        <mat-icon>face</mat-icon>
        <span>LOGIN</span>
      </a>
      <a mat-menu-item href="https://www.iubenda.com/privacy-policy/93551682">
        <mat-icon>privacy_tip</mat-icon>
        <span>PRIVACY POLICY</span>
      </a>
      <a
        mat-menu-item
        href="https://www.iubenda.com/privacy-policy/93551682/cookie-policy"
      >
        <mat-icon>policy</mat-icon>
        <span>COOKIE POLICY</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
