<mat-spinner color="accent" class="center" *ngIf="loading"></mat-spinner>

<app-searchbar></app-searchbar>

<div *ngIf="!loading" class="container">
  <div *ngFor="let expert of expertsList; index as i" class="card">
    <span></span>
    <div class="content">
      <h2>{{ expert.firstName }} {{ expert.lastName }}</h2>
      <h4>{{ expert.label }}</h4>
      <p>
        {{ expert.description | slice: 0:100 }}
      </p>
      <a [routerLink]="['/expert', expert.id]">More</a>
      <div class="avatar">
        <img src="{{ expert.profileImg }}" alt="" />
      </div>
    </div>
  </div>

  <!-- 
<div style="padding: 5%">
  <mat-divider *ngIf="!loading" style="margin: 5% 0 5% 0"></mat-divider>
</div> -->
</div>
