<mat-spinner color="accent" class="center" *ngIf="loading"></mat-spinner>

<div style="padding: 5%" *ngIf="!loading && isMobile">
  <form action="" class="search-bar">
    <input
      #box
      (keyup)="onKey(box.value)"
      type="search"
      name="search"
      required
    />
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form>
</div>

<div style="padding: 3%" *ngIf="!loading && !isMobile">
  <form action="" class="search-bar">
    <input
      #box
      (keyup)="onKey(box.value)"
      type="search"
      name="search"
      required
    />
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form>
</div>

<div *ngIf="!loading" class="container">
  <div *ngFor="let expert of expertsList; index as i" class="card">
    <span></span>
    <div class="content">
      <h2>{{ expert.firstName }} {{ expert.lastName }}</h2>
      <h4>{{ expert.label }}</h4>
      <p>
        {{ expert.description | slice: 0:100 }}
      </p>
      <a [routerLink]="['/expert', expert.id]">More</a>
      <div class="avatar">
        <img src="{{ expert.profileImg }}" alt="" />
      </div>
    </div>
  </div>
</div>
