.mat-expansion-panel-body {
  background-color: #121212;
}

.mat-expansion-panel-header {
  background-color: #121212;
}

.mat-expansion-panel-header-title {
  background-color: #121212;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: #121212;
}

.mat-expansion-panel-header:hover {
  background-color: #121212;
}

.disable_ripple:hover {
  background: #121212 !important;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}