<div style="padding: 5%" *ngIf="isMobile">
    <h2
      style="font-weight: 900; line-height: 41px; font-size: 30px; color: #ffffff"
    >
      Una piattaforma di live streaming per la condivisione di conoscenza
    </h2>
    <h4
      style="font-weight: 900; line-height: 21px; font-size: 15px; color: #ffffff"
    >
      Pianifica videochiamate 1:1 con esperti, creators e mentors: ottieni
      risposte, stimoli e consigli per crescere
    </h4>
  
  </div>
  
  <div style="padding: 3%" *ngIf="!isMobile">
    <h2
      style="font-weight: 900; line-height: 41px; font-size: 30px; color: #ffffff"
    >
      Una piattaforma di live streaming per la condivisione di conoscenza
    </h2>
    <h4
      style="font-weight: 900; line-height: 21px; font-size: 15px; color: #ffffff"
    >
      Pianifica videochiamate 1:1 con esperti, creators e mentors: ottieni
      risposte, stimoli e consigli per crescere
    </h4>
  </div>