<div class="main-container">
  <!-- <h1 class="title">Sign up</h1> -->

  <div class="main-container__content">
    <div class="content__inputs">
      <form class="content__input--form">
        <label for="First-name">
          <input type="text" placeholder="First Name" />
        </label>
        <label for="Last-name">
          <input type="text" placeholder="Last Name" />
        </label>
        <label for="email">
          <input type="email" placeholder="Email" />
        </label>
        <label for="password">
          <input type="password" placeholder="Password" />
        </label>
        <p>
          <mat-label
            style="
              margin-right: 5px;
              font-size: 14px;
              font-weight: 900;
              line-height: 19px;
              color: rgba(255, 255, 255, 0.5);
            "
            >Sei un esperto ?</mat-label
          >
          <mat-radio-group aria-label="Sei un esperto ?">
            <mat-radio-button value="1">Si</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </p>
      </form>
    </div>

    <div class="content__submit">
      <button type="button" class="button">Sign up</button>
      <!-- <div class="button google-button">
        <div class="google-button__google-icon"></div>
        <p class="no-select">Sign up with Google</p>
      </div> -->
      <p class="social-text">Or Sign up with social platforms</p>
      <div class="social-media">
        <a href="#" class="social-icon">
          <mat-icon svgIcon="facebook"></mat-icon>
        </a>
        <a href="#" class="social-icon">
          <mat-icon svgIcon="twitter"></mat-icon>
        </a>
        <a href="#" class="social-icon">
          <mat-icon svgIcon="google"></mat-icon>
        </a>
        <a href="#" class="social-icon">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
      </div>
      <div class="content__submit--line"></div>
      <p>
        Already have an account?
        <a [routerLink]="['/login']" href="/">
          <strong>Sign in</strong>
        </a>
      </p>
      <div class="content__footer">
        <p>
          By clicking "Sign up" button above you agree to our
          <a href="https://www.iubenda.com/privacy-policy/93551682">
            <strong>terms of use</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
