/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #121212;
  height: 100%;
}
body {
  margin: 0;
  @font-face {
    font-family: "Circular Std", Helvetica, Arial, sans-serif;
    font-weight: 400;
    src: url("./assets/font/Circular\ Std\ Font.otf");
    font-display: swap;
    line-height: 22px;
    color: #ffffff;
    font-size: 16px;
  }
}
